<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Pick Your Quiz</title>
	<link rel="stylesheet" href="/Style.css">
</head>

<body>

	<section class="header">
	
	<div class="text-box">
	
		<img th:src="@{/images/takingNotes.gif}" class="takingNotesGif"/>
		<h1>Welcome to<br>Pick Your Quiz!</h1>
		<p>(Quiz yourself on subjects you want)</p>
		
		<div class= "row">
			<a href="/signin" class="signing-btn">Sign In</a>
			<a href="/signup" class="signing-btn">Sign Up</a>		
		</div>
		
		<div class= "row2">
			<a href="/rules" class="signing-btn">Rules</a>		
		</div>

	</div>
	
	</section>

</body>
</html>
