<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pick Your Quiz</title>
	<link rel="stylesheet" href="/Style.css">
</head>

<body>

	<section class="header">
	
		<section class="rules">
		
			<div class="rules-page">
				<h1>Pick a subject that you want to be tested on! Get asked 10 questions on that subject.</h1>
				<p>Every player starts off with 50 points.<br>You will earn 10 points on every right answer and lose 20 on every wrong answer, if you accumulate 100 points,<br>
				you will score a win. Drop to zero or below, you will score a loss. Points will then reset to 50, good luck!</p>
			</div>
			
		</section>
	
	</section>

</body>

</html>
